<domain type='qemu'>
  <name>{{vcluster_head_name}}</name>
  <memory unit="MB">512</memory>
  <currentMemory unit="MB">512</currentMemory>
  <vcpu>1</vcpu>
  <os>
    <type arch='i686' machine='pc'>hvm</type>
    <boot dev='cdrom'/>
  </os>
  <devices>
    <emulator>/usr/bin/qemu-system-x86_64</emulator>
    <disk type='file' device='cdrom'>
      <source file='{{ vcluster_head_os_img }}'/>
      <target dev='hdc'/>
      <readonly/>
    </disk>
    <disk type='volume' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source pool="vcluster-{{vcluster_tag}}" volume='head'/>
      <target dev='hda'/>
    </disk>
    <interface type='network'>
      <source network='vcluster-{{ vcluster_tag }}'/>
    </interface>
    <graphics type='vnc' port='5900'/>
  </devices>
</domain>